@import './theme.scss';

$body-background-color: #f8f9f9;
$primary: $blue-2;
$footer-background-color: $blue-4;
$footer-color: true;
$navbar-breakpoint: $tablet;

$family-sans-serif: "NeueHaasGroteskDisp Std", "Helvetica", "Arial", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;