@import './theme.scss';

// theme
$body-background-color: #f8f9f9;
$primary: $blue-2;

// layout
$widescreen-enabled: false;
$fullhd-enabled: false;

// global
$family-sans-serif: "NeueHaasGroteskDisp Std", "Helvetica", "Arial", sans-serif;
$radius: 50px;

// navbar
$navbar-breakpoint: $tablet;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

// footer
$footer-background-color: $gray;
$footer-color: false;