@import './theme.scss';

$body-background-color: #f8f9f9;
$primary: $light-blue-3;
$footer-background-color: $light-blue-1;
$footer-color: true;
$navbar-breakpoint: $tablet;

$family-sans-serif: "NeueHaasGroteskDisp Std", "Helvetica", "Arial", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;